@import './Themes/DarkTheme.css';
@import './Themes/LightTheme.css';

.App {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px;
  text-align: center;
  font-size: 30px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  font-size: 30px;
  text-align: center;
}

.pokemonList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.toggle{
  display: flex;
  margin-left: 1200px;
  margin-bottom: 20px;
}

.mainPage{
  font-size: 30px;
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
}

.pokemons{
  width: 500px;
  height: 600px;
  background: none;
  border: none;
  border-radius: 9px;
  margin-top: 20px;
  margin-left: 30px;
}

.description{
  width: 500px;
  height: 400px;
  background: none;
  border-radius: 9px;
  border: none;
  margin-left: 30px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;  
}

.pokemonContainer{
  display: flex;
  flex-wrap: wrap;
}

h1{
  font-size: 30px;
  align-items: center;
  margin-top: 200px;

}

.about-page {
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 600px;
  box-shadow: 0px 0px 10px #888888;
  height: 400px;
  display: flex;
}

h2 {
  font-size: 36px;
  color: #000;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
  text-shadow: 0px 0px 10px yellow;
}

p {
  font-size: 18px;
  color: var(--text-color);
  line-height: 1.5;
  margin-bottom: 20px;
}

.level {
  font-size: 18px;
  color: var(--text-color);
  line-height: 1.5;
  width: 120px;
  height: 40px;
  background: tomato;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.attack {
  font-size: 18px;
  color: var(--text-color);
  line-height: 1.5;
  width: 120px;
  height: 40px;
  background: rgb(210, 237, 9);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.speed {
  font-size: 18px;
  color: var(--text-color);
  line-height: 1.5;
  width: 120px;
  height: 40px;
  background: rgb(8, 158, 228);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.weight {
  font-size: 18px;
  color: var(--text-color);
  line-height: 1.5;
  width: 120px;
  height: 40px;
  background: rgb(249, 27, 120);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.imageAbout{
  background: url(https://i2.wp.com/multoigri.ru/images/wiki/content/wiki-pokemony-15.jpg);
  width: 300px;
  height: 400px;
  background-size: cover;
}

.aboutPokemons{
  max-width: 300px;
  height: 400px;
}

.goToPokemon{
  border-radius: 8px;
  text-decoration: none;
  color: #000;
  text-shadow: 0px 0px 10px yellow;
  font-style: initial;
}

.homeIcon {
  
  margin-right: 10px;
  color: yellow;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  background: #000;
  text-decoration: none;
}

.pagination{
  background-color: #fff;
  width: 350px;
  border-radius: 10px;
}

.select{
  background: white;
  box-shadow: 0px 0px 10px yellow;
  margin-bottom: 20px;
}