.App.light {
    --background-color: #fff;
    --text-color: #000;
    --card-background: #000;
    --border: 3px solid lightgreen; 
    --background: url('https://images.nintendolife.com/e64332ff10fd3/best-pokemon-games.large.jpg');
    --color: #fff;
    --box-shadow: 0 8px 18px rgb(5, 0, 0), 0 5px 5px rgb(5, 0, 0);
}